<mat-progress-bar
  *ngIf="loading$ | async"
  mode="indeterminate"
></mat-progress-bar>

<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Flash Cards</span>
      <nav>
        <ng-container
          *ngIf="(loggedIn$ | async); else loggedOut"
        >
          <a mat-button routerLink="/">Learn</a>
          <a mat-button routerLink="/cards/create">Create Card</a>
          <a mat-button routerLink="/cards">Manage Cards</a>
          <a mat-button href="#logout" (click)="logOut($event)">Logout</a>
        </ng-container>

        <ng-template
          #loggedOut
        >
          <a mat-button routerLink="/login">Login</a>
          <a mat-button routerLink="/registration">Registration</a>
        </ng-template>

      </nav>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer>

</footer>
