<form
  [formGroup]="form"
  (submit)="submit()"
>

  <mat-card class="crud-editor">
    <mat-card-header>
      <mat-card-title>Card Editor</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <div
        class="md-container"
      >
        <div class="md-editor">

          <mat-form-field
            class="full-width"
          >
            <mat-label>Question</mat-label>
            <textarea
              matInput
              placeholder="Question"
              formControlName="question"
              rows="6"
            ></textarea>
            <mat-error *ngIf="form.controls.question.hasError('required')">
              Question is <strong>required</strong>
            </mat-error>
          </mat-form-field>

        </div>
        <div class="md-preview">

          <app-md-view [text]="form?.value?.question"></app-md-view>

        </div>
      </div>
      <div
        class="md-container"
      >
        <div class="md-editor">

          <mat-form-field
            class="full-width"
          >
            <mat-label>Answer</mat-label>
            <textarea
              matInput
              placeholder="Answer"
              formControlName="answer"
              rows="12"
            ></textarea>
            <mat-error *ngIf="form.controls.answer.hasError('required')">
              Answer is <strong>required</strong>
            </mat-error>
          </mat-form-field>

        </div>
        <div class="md-preview">

          <app-md-view [text]="form?.value?.answer"></app-md-view>

        </div>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <button
        mat-button
        class="go-back"
        (click)="goBack($event)"
      > &larr; Go Back</button>

      <div class="right-group">
        <button
          *ngIf="sourceCard?.id"
          mat-button
          color="warn"
          (click)="delete($event)"
        >Delete</button>

        <button
          mat-button
          (click)="cancel($event)"
        >Cancel</button>

        <button
          mat-raised-button
          color="primary"
        >Update</button>
      </div>
    </mat-card-actions>
  </mat-card>

</form>
