:host {
  display: block;
}

.crud-editor {
  max-width: 800px;
  margin: 0 auto;
}


mat-form-field.full-width {
  width: 100%;
  max-width: 100%;
}

mat-card-actions {
  display: flex;
  justify-content: space-between;

  .right-group {
    display: flex;
    justify-content: flex-end;
  }
}

.go-back {
  justify-self: flex-start;
}


mat-card-content {
  .md-container {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .md-editor + .md-preview {
    margin-left: 10px;
  }

  .md-editor,
  .md-preview {
    flex: 0 0 50%;
    max-width: 50%;
  }

  @media(max-width: 768px) {
    .md-container {
      flex-wrap: wrap;
      margin-bottom: 2em;
    }

    .md-editor,
    .md-preview {
      flex: 1 1 100%;
      max-width: 100%;
    }
  }
}
