<mat-card>
  <mat-card-title>
    Login
  </mat-card-title>
  <mat-card-content>
    <form
      [formGroup]="form"
      (ngSubmit)="authenticate()"
    >
      <mat-form-field
        class="example-full-width"
      >
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          placeholder="yourmail@domain.com"
          formControlName="email"
        >
        <mat-hint>Please use you email to log in!</mat-hint>
        <mat-error *ngIf="form.hasError('email') && !form.controls.email.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="form.controls.email.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field
        class="example-full-width"
      >
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          formControlName="password"
        >
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-footer>

    <a
      mat-button
      color="primary"
      class="nav-btn"
      [routerLink]="['/registration']"
      [disabled]="loading$ | async"
    >Registration</a>

    <button
      mat-raised-button
      color="primary"
      class="nav-btn"
      [disabled]="loading$ | async"
      (click)="authenticate()"
    >Login</button>

  </mat-card-footer>
</mat-card>
