<section class="learning-card-container">
  <mat-card
    *ngIf="card$ | async as card"
    class="learning-card"
  >
    <mat-card-header>
      <mat-card-title>
        # {{card.id}}
      </mat-card-title>
      <div class="card-title-actions">
        <button
          mat-icon-button
          [routerLink]="['/cards/edit', card.id]"
          aria-label="Edit card"
          matTooltip="Edit Card"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </mat-card-header>

    <mat-divider></mat-divider>

    <mat-card-content>
      <ng-container
        *ngIf="!isAnswerVisible"
      >
        <section
          class="card-question"
        >
          <app-md-view [text]="card.question"></app-md-view>
        </section>
      </ng-container>

      <ng-container
        *ngIf="isAnswerVisible"
      >
        <section
          class="card-answer"
        >
          <app-md-view [text]="card.answer"></app-md-view>
        </section>
      </ng-container>
    </mat-card-content>

    <mat-divider></mat-divider>

    <mat-card-actions>
      <button
        mat-button
        color="accent"
        (click)="nextCard()"
        matTooltip="Show next question"
      >Dont know</button>

      <button
        *ngIf="!isAnswerVisible"
        mat-button
        color="primary"
        (click)="showAnswer()"
        matTooltip="Show the answer"
      >Self Check</button>

      <button
        *ngIf="isAnswerVisible"
        mat-button
        color="primary"
        (click)="showQuestion()"
        matTooltip="Back to question"
      >Show question</button>

      <button
        mat-raised-button
        color="primary"
        (click)="acknowledge(card.id)"
        matTooltip="Do not more show this question"
      >Acknowledge</button>

    </mat-card-actions>
  </mat-card>
</section>
